* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #141e30, #243b55);
    color: #fff;
    min-height: 100vh;
}

header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    color: #ffcc00;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 19px;
    transition: color 0.4s;
}

.nav-links a:hover {
    color: #ffcc00;
}


.form-container {
    background: rgba(255, 255, 255, 0.1);
    width: 90%;
    max-width: 420px;
    margin: 60px auto;
    padding: 30px 25px;
    border-radius: 15px;

}


.header h2 {
    text-align: center;
    color: #ffcc00;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
}

input,
select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 6px;
    font-size: 15px;
    background-color: #6b7581;

    color: white;
}




input::placeholder {
    color: #ddd;
}


.error {
    color: #ff4444;
    font-size: 13px;
    margin-top: 4px;
}

button {
    width: 100%;
    background-color: #ffcc00;
    color: #000;
    border: none;
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ffd633;
    transform: scale(1.02);
}


@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .form-container {
        padding: 25px 15px;
    }
}